<style>
.body {
  background-color: red;
}
.h1 {
  font-size: 100px;
  text-align: left;
  padding: 0px 0px;
  border-style: dotted dashed solid double;
  border-color: black;
  margin-right: 130px;
  margin-left: 110px;
}
.navbar {
  overflow: hidden;
  width: ;
  background-color: #0d0d0d;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 50%;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: green;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 1500px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #a749ba;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.img {
  padding-left:140px ;
  padding-right:65px ;
  padding-top:65px ;

}
.h2 {
  font-size: 100px;
  text-align: left;
  padding: 0px 0px;
  margin-right: 0px;
  margin-left: 1px;
}
</style>
